@import "../../../styles/base";
@import "../../../styles/animations";

.header {
  background-color: $color-black;
  color: $color-white;

  @include center;

  h2 {
    text-transform: uppercase;
  }

  div {
    background-color: $color-white;
    border-radius: 50%;
    box-shadow: 0px 0px 6px;
    color: $color-black;
    min-width: 30px;
    padding: 0.5rem;
    position: fixed;
    right: 2rem;
    text-align: center;
    top: 2rem;
    z-index: 10;

    @include center;
  }
}
