@import "./styles/base";

.container {
  background-color: $color-dark;
  color: $color-white;
  min-height: calc(100vh - 112px);

  @media (min-width: 991px) {
    min-height: calc(100vh - 128px);
  }
}
