@import "../../../../styles/base";

.filters {
  align-items: center;
  border-bottom: 1px solid $color-white;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  max-width: 1440px;
  padding-bottom: 0.5rem;
  padding-top: 2rem;

  @media (max-width: 991px) {
    align-items: flex-start;
    flex-direction: column;
    padding: 2rem;
  }
}

.game-list {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 2rem;
}
